<!-- <div class="banner" style="background-image: url('https://res.cloudinary.com/duspt82gb/image/upload/v1534947776/view_in_room.jpg');">
  <div class="banner-content">
    <h1>Find Gig Posters</h1>
    <p>from the best night of your life</p>
    <p><i class="fas fa-chevron-down"></i></p>
    <p><i class="fas fa-chevron-down"></i></p>
  </div>
</div>
 -->

<div class="container">
  <div class="row">
    <%= render 'shared/card' %>
  </div>
</div>

