
<div class="banner" style="background-image: linear-gradient(217deg, rgba(255,255,255,.45), rgba(255,255,255,.45)), url('https://res.cloudinary.com/dyrrv1vdv/image/upload/v1535104852/view_in_room.jpg');">

  <div class="banner-content">
    <h1>Find Gig Posters</h1>
    <p>from the best night of your life</p>
  </div>
  <div class="chevrons">
    <p><i class="fas fa-chevron-down"></i></p>
    <p><i class="fas fa-chevron-down"></i></p>
    <p><i class="fas fa-chevron-down"></i></p>
  </div>
</div>


<div class="container">
  <div class="row">
    <%= render 'shared/card' %>
  </div>
</div>
