
<div class="banner" style="background-image:  url('https://res.cloudinary.com/cocktailsdelivereddotcom/image/upload/v1537191430/georgia-vagim-381292-unsplash.jpg');">

  <div class="banner-content">
    <h1>Movie Exchange </h1>
    <p>An Online source for all types of Movies </p>
  </div>

    <div class="scroll-indicator fa fa-chevron-down"></div>

  </div>
</div>


<div class="container">
  <div class="row">
    <%= render 'shared/card' %>
  </div>
</div>

<div class="footer">
  <div class="footer-links">

  </div>
  <div class="footer-copyright">
    <p>.................This is a concept site, and does not sell or endorse any of the listed vendors</p>

  </div>
</div>
